@import 'vars';

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  line-height: 1.5;

  @include lg {
    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(to left, var(--color-primary), transparent);
      translate: -120% -50%;
      left: 0;

      top: 50%;
      height: 50%;

      border-radius: 12px;
    }

    // &:hover .icon.icon-link::after {
    //   position: absolute;
    //   content: '#';
    //   translate: -100%;
    //   padding-right: 0.1em;
    // }
  }
}

$heading-marker-length: 100px;

h1::before {
  width: $heading-marker-length;
}
h2::before {
  width: #{0.9 * $heading-marker-length};
}
h3::before {
  width: #{0.8 * $heading-marker-length};
}
h4::before {
  width: #{0.7 * $heading-marker-length};
}
h5::before {
  width: #{0.6 * $heading-marker-length};
}
h6::before {
  width: #{0.5 * $heading-marker-length};
}
